* {
    margin: 0;
    padding: 0;

}
.controls {
    padding: 20px;
    margin: 0 100px;
    overflow: hidden;
    border-radius: 20px;
    height: 8rem;
    transition: transform 0.4s;
    border: 2px solid #F0F0F0;
}
.controls:hover{
    transform: scale(1.05);
    border-color: #2E2E2E;
}
.content-section {
    padding: 20px;
    margin: 0 100px;
    overflow: hidden;
    border-radius: 20px;
    transition: transform 0.4s;
    border: 2px solid #F0F0F0;
}
.content-section:hover{
    transform: scale(1.05);
    border-color: #2E2E2E;
}
.content {
    display: flex;
    align-items: center;
}
.text {
    flex: 1;
    padding: 20px;
}
.image {
    flex: 1;
    text-align: center;
}
.image img {
    height: 155px;
}
.about-section {
    display: none;
    padding: 20px;
    margin: 0 100px;
    overflow: hidden;
    border-radius: 20px;
    height: 12rem;
}
.contact-section {
    display: none;
    padding: 20px;
    margin: 0 100px;
    overflow: hidden;
    border-radius: 20px;
    height: 12rem;
}
#micButton {
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #000;
    transition: border-color 1s;
    width: 150px;
    height: 150px;
    transition: box-shadow 0.3s;
}
#micButton:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.mic-btn {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transition: transform 0.3s;
}
.mic-btn:hover {
    transform: scale(1.2);
}
.mic-section {
    text-align: center;
}
.con-one {
    text-align: center;
}
.listen{
    justify-content: center;
}
.con-two {
    display: flex;
    justify-content: center;
}
.scrolling-container {
    overflow: hidden;
    position: relative;
}
.scrolling-content {
    white-space: nowrap;
    animation: scroll 30s linear infinite;
}
.scrolling-container:hover .scrolling-content {
    animation-play-state: paused;
}
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
